body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.animation-container {
    width: 300px;
    height: 100px;
    position: relative;
    overflow: hidden;
}
#motorcycle {
    font-size: 4rem;
    position: absolute;
    left: -50px;
    transform: scaleX(-1); /* 이모지를 수평으로 뒤집습니다 */
}
#delivery-text {
    font-size: 1.5rem;
    margin-top: 1rem;
    opacity: 0;
}
.home-button {
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #8BA740;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.home-button:hover {
    background-color: #8BA740;
}