<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>찜 탕 찌개</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<!--header 고정-->
<th:block th:replace="~{layout/header :: headerFragment}"></th:block>

<div class="restaurant-container">
    <!-- 가게별 반복 -->
    <div th:each="storeMenu : ${groupMenus}" class="restaurant-card">
        <!-- 가게 정보 -->
        <div class="restaurant-info">
            <h3 th:text="${storeMenu.value[0].store.storeName}">음식점 이름</h3>
            <p th:text="'최소주문: ' + ${storeMenu.value[0].store.storeMinAmount} + '원'">최소주문</p>
        </div>

        <!-- 메뉴 리스트 -->
        <div class="menu-list">
            <div th:each="menu : ${storeMenu.value}" class="menu-item">
                <img th:src="${menu.url}" alt="메뉴 이미지">
                <div class="menu-info">
                    <h4 th:text="${menu.menuName}">메뉴 이름</h4>
                    <p th:text="${menu.menuAmount} + '원'">메뉴 가격</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>